Lecture/18.[[:space:]]CSCI572_Question_Answering.pdf filter=lfs diff=lfs merge=lfs -text
Exam/Midterm/CSCI572_Exam1_Fall2018.pdf filter=lfs diff=lfs merge=lfs -text
Homework/homework2/CSCI572_HW2.pdf filter=lfs diff=lfs merge=lfs -text
Homework/homework1/hw1.csv filter=lfs diff=lfs merge=lfs -text
Homework/homework4/MOCK_DATA.json filter=lfs diff=lfs merge=lfs -text
Homework/homework4/school.jsonl filter=lfs diff=lfs merge=lfs -text
Exam/Midterm filter=lfs diff=lfs merge=lfs -text
Lecture/11.[[:space:]]CSCI572_MapReduce.pdf filter=lfs diff=lfs merge=lfs -text
Lecture/3.[[:space:]]CSCI572_Web_Crawling.pdf filter=lfs diff=lfs merge=lfs -text
Exam/Final/CSCI572_Exam2_Spring2019.pdf filter=lfs diff=lfs merge=lfs -text
Homework/homework4/serveit.py filter=lfs diff=lfs merge=lfs -text
Lecture/4.[[:space:]]CSCI572_Search_Engine_Evaluation.pdf filter=lfs diff=lfs merge=lfs -text
Homework/homework2/CSCI572_HW2_Grading_Guidelines.pdf filter=lfs diff=lfs merge=lfs -text
Homework/homework2/mydata.txt filter=lfs diff=lfs merge=lfs -text
Homework/homework3/pom.xml filter=lfs diff=lfs merge=lfs -text
Homework/homework3/src filter=lfs diff=lfs merge=lfs -text
Homework/homework3 filter=lfs diff=lfs merge=lfs -text
Lecture/10.[[:space:]]CSCI572_Query_Formulation.pdf filter=lfs diff=lfs merge=lfs -text
Lecture/7.[[:space:]]CSCI572_Text_Processing.pdf filter=lfs diff=lfs merge=lfs -text
Homework/homework2/visit_latimes.csv filter=lfs diff=lfs merge=lfs -text
Exam/Midterm/CSCI572_Exam1_Spring2013.pdf filter=lfs diff=lfs merge=lfs -text
Homework/homework1/CSCI572_HW1_Grading_Guidelines.pdf filter=lfs diff=lfs merge=lfs -text
Homework/homework1/hw1.json filter=lfs diff=lfs merge=lfs -text
Homework/homework2/pom.xml filter=lfs diff=lfs merge=lfs -text
Homework/homework5/weave-doQuery.sh filter=lfs diff=lfs merge=lfs -text
Lecture/16.[[:space:]]CSCI572_Query_Processing.pdf filter=lfs diff=lfs merge=lfs -text
Lecture/6.[[:space:]]CSCI572_Info_Retrival.pdf filter=lfs diff=lfs merge=lfs -text
Lecture/8.[[:space:]]CSCI572_Inverted_Indexing.pdf filter=lfs diff=lfs merge=lfs -text
Exam/Midterm/CSCI572_Exam1_Spring2018.pdf filter=lfs diff=lfs merge=lfs -text
Exam/Midterm/CSCI572_Midterm_Rubrics_Spring2023.pdf filter=lfs diff=lfs merge=lfs -text
Homework/homework1/pom.xml filter=lfs diff=lfs merge=lfs -text
Homework/homework3/CSCI572_HW3.pdf filter=lfs diff=lfs merge=lfs -text
Homework/homework5/JEOPARDY_QUESTIONS1.json filter=lfs diff=lfs merge=lfs -text
Homework/homework1 filter=lfs diff=lfs merge=lfs -text
Lecture/9.[[:space:]]CSCI572_Video_Searching.pdf filter=lfs diff=lfs merge=lfs -text
Homework/homework2/CrawlReport_latimes.txt filter=lfs diff=lfs merge=lfs -text
Homework/homework2/fetch_latimes.csv filter=lfs diff=lfs merge=lfs -text
Homework/homework2/CSCI572_HW2_Overview.pdf filter=lfs diff=lfs merge=lfs -text
Lecture/25.[[:space:]]CSCI572_lecture_merged.pdf filter=lfs diff=lfs merge=lfs -text
Exam/Midterm/CSCI572_Exam1_Spring2020.pdf filter=lfs diff=lfs merge=lfs -text
Homework/homework1/src filter=lfs diff=lfs merge=lfs -text
Exam/Final filter=lfs diff=lfs merge=lfs -text
Lecture/12.[[:space:]]CSCI572_Search_Engine_Advertising.pdf filter=lfs diff=lfs merge=lfs -text
Lecture/14.[[:space:]]CSCI572_Page_Rank.pdf filter=lfs diff=lfs merge=lfs -text
Lecture/21.[[:space:]]CSCI572_Recommendation_Systems.pdf filter=lfs diff=lfs merge=lfs -text
Homework/homework5/winemag_tiny.csv filter=lfs diff=lfs merge=lfs -text
Homework/homework2/src filter=lfs diff=lfs merge=lfs -text
Homework/homework4/lunr_repl.html filter=lfs diff=lfs merge=lfs -text
Homework/homework5/data.json filter=lfs diff=lfs merge=lfs -text
Homework/homework5/weave-loadData.py filter=lfs diff=lfs merge=lfs -text
Exam/Final/CSCI572_Exam2_Spring2018.pdf filter=lfs diff=lfs merge=lfs -text
Homework/homework4/lunr_stackblitz.ts filter=lfs diff=lfs merge=lfs -text
Homework/homework5/docker-compose.yml filter=lfs diff=lfs merge=lfs -text
Lecture/15.[[:space:]]CSCI572_Snippets.pdf filter=lfs diff=lfs merge=lfs -text
Lecture/17.[[:space:]]CSCI572_Auto_Correction_Completion.pdf filter=lfs diff=lfs merge=lfs -text
Homework/homework1/CSCI572_HW1.pdf filter=lfs diff=lfs merge=lfs -text
Homework/homework4/CSCI572_HW4.pdf filter=lfs diff=lfs merge=lfs -text
Lecture/22.[[:space:]]CSCI572_Assorted_Topics_Part1.pdf filter=lfs diff=lfs merge=lfs -text
Exam/Final/CSCI572_Exam2_Fall2018.pdf filter=lfs diff=lfs merge=lfs -text
Homework/homework4/lunr_xem.html filter=lfs diff=lfs merge=lfs -text
Lecture/1.[[:space:]]CSCI572_Search_Engine_Basics.pdf filter=lfs diff=lfs merge=lfs -text
Lecture/13.[[:space:]]CSCI572_Konwledge_Graphs.pdf filter=lfs diff=lfs merge=lfs -text
Lecture/2.[[:space:]]CSCI572_Characterizing_the_Web.pdf filter=lfs diff=lfs merge=lfs -text
Lecture/20.[[:space:]]CSCI572_Classification.pdf filter=lfs diff=lfs merge=lfs -text
Homework/homework1/hw1.txt filter=lfs diff=lfs merge=lfs -text
Homework/homework5/CSCI572_HW5.pdf filter=lfs diff=lfs merge=lfs -text
Homework/homework5/serveit.py filter=lfs diff=lfs merge=lfs -text
Homework/homework2 filter=lfs diff=lfs merge=lfs -text
Lecture/19.[[:space:]]CSCI572_Clustering.pdf filter=lfs diff=lfs merge=lfs -text
Lecture/23.[[:space:]]CSCI572_Assorted_Topics_Part2.pdf filter=lfs diff=lfs merge=lfs -text
Lecture/5.[[:space:]]CSCI572_Deduplication.pdf filter=lfs diff=lfs merge=lfs -text
Homework/homework4 filter=lfs diff=lfs merge=lfs -text
Homework/homework5 filter=lfs diff=lfs merge=lfs -text
Lecture/24.[[:space:]]CSCI572_Issues.pdf filter=lfs diff=lfs merge=lfs -text
Homework/homework4/CSCI572_HW4_Solr_Overview.pdf filter=lfs diff=lfs merge=lfs -text
